.lists {
    margin: 0 auto;
    padding: 2rem 0;
    max-width: 80rem;

    &__controls {
        display: flex;
        justify-content: space-between;
    }

    &__controls-button {
        margin: 0 1rem;
    }

    &__favorites,
    &__random-jokes {
        display: none;

        &--visible {
            display: initial;
        }
    }
}
