.login {
    padding: 1rem;

    &__button {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;
    }

    &__errors {
        color: red;
    }

    &__fields {
        display: flex;
        flex-direction: column;
    }

    &__text-field {
        margin-bottom: 1rem;
    }
}
