.button {
    background-color: #BDC3C7;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 10px 19px;
    position: relative;
    transition-property: background, color;

    &:active {
        background: #A1A6A9;
        border-color: #A1A6A9;
    }

    &:hover {
        background-color: #CACFD2;
        border-color: #CACFD2;
    }

    &--disabled {
        cursor: default;

        &:hover {
            background-color: #BDC3C7;
        }
    }

    &--primary {
        background-color: #1ABC9C;

        &:active {
            background: #16A085;
            border-color: #16A085;
        }

        &:hover {
            background-color: #48C9B0;
            border-color: #48C9B0;
        }
    }
}
