.text-field {
    border: 2px solid #BDC3C7;
    border-radius: 6px;
    box-shadow: none;
    color: #34495E;
    height: 32px;
    padding: 0.5rem 1rem;

    &:focus {
        border-color: #1ABC9C;
        box-shadow: none;
        outline: 0;
    }

    &--error {
        border-color: red;
    }
}
