.joke-card {
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    margin: 1rem;
    margin-bottom: 0;
    padding: 1rem;
    text-align: center;

    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

    &.md-card {
        display: flex;
    }

    &__favorite {
        margin-right: 1rem;
        cursor: pointer;
    }

    &__joke {
        text-align: left;
    }
}
